{% extends 'base.html' %}

{% block content %}

{% load static %}
    <link rel="stylesheet" href="{% static 'css/team.css' %}">
    <link rel="stylesheet" href="{% static 'https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css' %}" integrity="sha384-BY+fdrpOd3gfeRvTSMT+VUZmA728cfF9Z2G42xpaRkUGu2i3DyzpTURDo5A6CaLK" crossorigin="anonymous">

   <section>

       <div id="back-to-home" onclick="window.location.href='{{ request.META.HTTP_REFERER }}'"><i class="fa-solid fa-caret-left"></i> Back</div>

    <div class="container">
        <div class="card">
            <div class="content">
                <div class="imgBx"><img src="/images/vai.jpeg" alt="" srcset=""></div>
                <div class="contentBx">
                    <h3> Vaibhav Bura <br><span> Core Member </span></h3>
                </div>
            </div>

            <ul class="sci">
                <li style="--i:1"><a href="">
                    <i class="fa-brands fa-github"></i>
                </a></li>
                <li style="--i:2"><a href="#">
                    <i class="fa-brands fa-linkdln" aria-hidden="true"></i>
                </a></li>
            </ul>
        </div>  <div class="card">
            <div class="content">
                <div class="imgBx"><img src="{% static 'assets/team/meet.jpeg' %}" alt="" srcset=""></div>
                <div class="contentBx">
                    <h3>Meet Jamsutkar <br><span>Technical Head</span></h3>
                </div>
            </div>

            <ul class="sci">
                <li style="--i:1"><a href="https://www.github.com/MeJaM35">
                    <i class="fa-brands fa-github"></i>
                </a></li>
                <li style="--i:2"><a href="https://www.linkedin.com/meet-jamsutkar">
                    <i class="fa-brands fa-linkdln"></i>
                </a></li>
            </ul>
        </div>  <div class="card">
            <div class="content">
                <div class="imgBx"><img src="/images/abhishek.jpeg" alt="" srcset=""></div>
                <div class="contentBx">
                    <h3> Abhishek Thormothe  <br><span> Core Member </span></h3>
                </div>
            </div>

            <ul class="sci">
               <li style="--i:1"><a href="">
                    <i class="fa-brands fa-github"></i>
                </a></li>
                <li style="--i:2"><a href="#">
                    <i class="fa-brands fa-linkdln" aria-hidden="true"></i>
                </a></li>
            </ul>
        </div>
        
    </div>
   </section>
{% endblock %}