{% extends 'base.html' %}

{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">

<div class="sliding-text">
        OJUS 2K24  OJUS 2K24  OJUS 2K24  OJUS 2K24  OJUS 2K24  OJUS 2K24 &nbsp;<br>
        S 2K24  OJUS 2K24  OJUS 2K24  OJUS 2K24  OJUS 2K24  OJUS 2K24 OJU&nbsp;<br>
        24  OJUS 2K24  OJUS 2K24  OJUS 2K24  OJUS 2K24  OJUS 2K24 OJUS 2K&nbsp;<br>
         2K24  OJUS 2K24  OJUS 2K24  OJUS 2K24  OJUS 2K24  OJUS 2K24 OJUS&nbsp;<br>
        K24  OJUS 2K24  OJUS 2K24  OJUS 2K24  OJUS 2K24  OJUS 2K24 OJUS 2&nbsp;<br>
        OJUS 2K24  OJUS 2K24  OJUS 2K24  OJUS 2K24  OJUS 2K24  OJUS 2K24 &nbsp;<br>
        US 2K24  OJUS 2K24  OJUS 2K24  OJUS 2K24  OJUS 2K24  OJUS 2K24 OJ&nbsp;<br>
        4  OJUS 2K24  OJUS 2K24  OJUS 2K24  OJUS 2K24  OJUS 2K24 OJUS 2K2&nbsp;<br>
        24  OJUS 2K24  OJUS 2K24  OJUS 2K24  OJUS 2K24  OJUS 2K24 OJUS 2K&nbsp;<br>
         2K24  OJUS 2K24  OJUS 2K24  OJUS 2K24  OJUS 2K24  OJUS 2K24 OJUS&nbsp;<br>
        K24  OJUS 2K24  OJUS 2K24  OJUS 2K24  OJUS 2K24  OJUS 2K24 OJUS 2&nbsp;<br>
        OJUS 2K24  OJUS 2K24  OJUS 2K24  OJUS 2K24  OJUS 2K24  OJUS 2K24 &nbsp;<br>
        US 2K24  OJUS 2K24  OJUS 2K24  OJUS 2K24  OJUS 2K24  OJUS 2K24 OJ&nbsp;<br>
        4  OJUS 2K24  OJUS 2K24  OJUS 2K24  OJUS 2K24  OJUS 2K24 OJUS 2K2&nbsp;<br>
    </div>
    <a href='{% url 'cultural' %}'>
    <div class="logo" >
    <img src="{% static 'assets/logo.png'  %}"  alt="...">
    </div>
    </a>
       <div class="wrapper">
        <form method='POST'>
        {% csrf_token %}
            <h1>Log in </h1>
            {% if messages %}
            {% for msg in messages %}
            {{msg}}
            {% endfor %}
            {% endif %}

            <div class="input-box">
                <input type="text" id="moodle_id" name="moodle_id"  placeholder="Moodle ID" required >
            </div>
            <div class="input-box">
                <input class="password" type="password" id="password" name="password" placeholder="MOODLEID_FIRSTNAME" required>
                <span class="input__icon-wrapper">
                    <i class="input__icon ri-eye-off-line"></i>
                  </span><br>
                
            </div>
            <div class="input-box"> e.g 221007145_MEET </div>
             
            <div class="submit">
                <button type="submit" class="btn" >Login</button>
            </div>
        </form>
    </div>
    
    <script> 
        const inputIcon = document.querySelector(".input__icon");
        const inputPassword = document.querySelector(".password");

        inputIcon.addEventListener("click", () => {
        inputIcon.classList.toggle("ri-eye-off-line");
        inputIcon.classList.toggle("ri-eye-line");
        inputPassword.type = inputPassword.type === "password" ? "text" : "password";
        });

    </script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
    var windowHeight = window.innerHeight;
    var numberOfLines = Math.floor(windowHeight / 120);

    var slidingText = document.querySelector('.sliding-text');
    slidingText.style.left = '-100%';
    slidingText.style.top = 'calc(50% - ' + (numberOfLines * 65) + 'px)';
    slidingText.style.animationDuration = numberOfLines * 4 + 's';
    slidingText.style.animationIterationCount = 'infinite';



});





</script>

{% endblock %}