{% extends "base.html" %}

{% block content %}

{% load static %}
 
    <link rel="stylesheet" href="{% static 'css/myevents.css' %}">
    

<nav>
            <a href="{% url 'index' %}"><img alt="logo" src="{% static 'assets/logo.png' %}" class="logo"></a>
            <ul>
             <li><a href="#section-3">EVENTS</a></li>
             <li><a href="{% url 'schedule' %}">SCHEDULE</a></li>
             <li><a href="{% url 'login' %}">LOGIN</a></li>
            </ul>
         </nav>

        

    <div class="cards">

    {% for s in signed %}
        <div class="card card1">
            <div class="container">
                <img class='card-img' src="{{s.event.img.url}}">
            </div>
            <div class="details">
                <h3>Event : {{s.event.name}}</h3>
                <h3>Date : {{s.event.date}}</h3>
                <h3>Time : {{s.event.time}}</h3>
                <h3>Venue : {{s.event.venue}}</h3>
            </div>
        </div>


    {% endfor %}


    </div>
    <div>
    <div> <footer>
        <div class="footer-content">
            <h3>OJUS 2024</h3>
            <p>Ojus - Radiance of Euphoria an intercollegiate festival hosted annually by the students of APSIT.</p>
            <ul class="socials">
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy;2024 ojus. designed by <span><a href="#">Ojus tech team👨‍💻</a></span></p>
        </div>
    </footer></div> </div>
    
    {% endblock %}

