{% extends "base.html" %}

{% block content %}

{% load static %}
 
    <link rel="stylesheet" href="{% static 'css/myevents.css' %}">
    <div id="back-to-home" onclick="window.location.href='{{ request.META.HTTP_REFERER }}'"><i class="fa-solid fa-caret-left"></i> Back</div>

    <div class="cards">
    {% for s in signed %}
        <div class="card card1">
            <div class="container">
                <img class='card-img' src="{{s.event.img.url}}">
            </div>
            <div class="details">
                <h3>Event : {{s.event.name}}</h3>
                <h3>Date : {{s.event.date}}</h3>
                <h3>Time : {{s.event.time}}</h3>
                <h3>Venue : {{s.event.venue}}</h3>
            </div>
        </div>


    {% endfor %}


    </div>
    <footer>

        <div class="footer-content">
            <h3>OJUS 2024</h3>
            <p>Ojus - Radiance of Euphoria an intercollegiate festival hosted annually by the students of APSIT.</p>
            <span style="color: #fff;">Follow Us On</span>
            <ul class="socials">
                <li><a href="https://www.instagram.com/ojus_apsit/"><i class="fa-brands fa-square-instagram" id='insta'></i></a></li>
                <li><a href="https://www.youtube.com/@ojus-radianceofeuphoria5292"><i class="fa-brands fa-square-youtube" id='yt'></i></a></li>
                <li><a href="https://www.facebook.com/ojusapsit/"><i class="fa-brands fa-square-facebook" id='fb'></i></a></li>
                <li><a href="https://www.linkedin.com/company/ojus-apsit/about/"><i class="fa-brands fa-linkedin" id='ldn'></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy;2024 Ojus. designed by <span><a href="{% url 'team' %}">Ojus tech team👨‍💻</a></span></p>
        </div>

        </footer>
    {% endblock %}

