{% extends 'base.html' %}




{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/styl2.css' %}">
<link rel="stylesheet" href="{% static 'css/aos.css' %}">
<link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="{% static 'css/schedule.css' %}">
<link rel="stylesheet" href="{% static 'css/aos.css' %}">
<script src="{% static 'js/jquery3.1.0.min.js'%}"></script>
<script src="{% static 'js/aos.js' %}"></script>


    <div id="back-to-home" onclick="window.location.href='{{ request.META.HTTP_REFERER }}'"><i class="fa-solid fa-caret-left"></i> Back</div>

    <div class="timeline">
        <div class="timeline_info">
            <h2>SCHEDULE</h2>
            <p>Game On: Unveiling the Action-Packed Planner!</p>
        </div>
        <div class="container">
            <div class="row timeline_bar">
                <div class="col-sm-6" data-aos="fade-up">
                    <div class="timeline_card">
                        <div class="card_header">
                            <div class="card_number">01</div>
                            <div class="card_title">
                                <h6>DAY</h6>
                                <h2>3 JAN 2024</h2>
                            </div>
                        </div>
                        <div class="card_body">
                        {% for i in day1 %}
                            <p><h5>{{i.name}} - {{i.time}} </h5>
                                <br>
                        {% endfor %}
                           
                            
                    

                        </div>
                    </div>
                </div>
                <div class="col-sm-6" data-aos="fade-up">
                    <div class="timeline_card">
                        <div class="card_header">
                            <div class="card_number">02</div>
                            <div class="card_title">
                                <h6>DAY</h6>
                                <h2>4 JAN 2024</h2>
                            </div>
                        </div>
                        <div class="card_body">
                            <p>
                                {% for i in day2%}
                                <h5> {{i.name}} - {{i.time}} </h5><br>
                                {% endfor %}
                            

                        </p>
                          
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" data-aos="fade-up">
                    <div class="timeline_card">
                        <div class="card_header">
                            <div class="card_number">03</div>
                            <div class="card_title">
                                <h6>DAY</h6>
                                <h2>5 JAN 2024</h2>
                            </div>
                        </div>
                        <div class="card_body">
                            <p>
                                {% for i in day3 %}
                                <h5>{{i.name}} - {{i.time}}</h5><br>
                                {% endfor %}
                            
                        </p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" data-aos="fade-up">
                    <div class="timeline_card">
                        <div class="card_header">
                            <div class="card_number">04</div>
                            <div class="card_title">
                                <h6>DAY 4</h6>
                                <h2>6 JAN 2024r</h2>
                            </div>
                        </div>
                        <div class="card_body">
                            <p>
                                {% for i in day4 %}
                                <h5>{{i.name}} - {{i.time}} </h5><br>
                                {% endfor %}
                           

                        </p>
                           
                        </div>
                    </div>
                </div>

                                <div class="col-sm-6" data-aos="fade-up">
                    <div class="timeline_card">
                        <div class="card_header">
                            <div class="card_number">03</div>
                            <div class="card_title">
                                <h6>DAY 5</h6>
                                <h2>7 JAN 2024</h2>
                            </div>
                        </div>
                        <div class="card_body">
                            <p>
                                {% for i in day5 %}
                                <h5>{{i.name}} - {{i.time}}</h5><br>
                                {% endfor %}
                            
                        </p>
                            
                        </div>
                    </div>
                </div>
                
                               
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>

        <div class="footer-content">
            <h3>OJUS 2024</h3>
            <p>Ojus - Radiance of Euphoria an intercollegiate festival hosted annually by the students of APSIT.</p>
            <span style="color: #fff;">Follow Us On</span>
            
            <ul class="socials">
                <li><a href="https://www.instagram.com/ojus_apsit/"><i class="fa-brands fa-square-instagram" id='insta'></i></a></li>
                <li><a href="https://www.youtube.com/@ojus-radianceofeuphoria5292"><i class="fa-brands fa-square-youtube" id='yt'></i></a></li>
                <li><a href="https://www.facebook.com/ojusapsit/"><i class="fa-brands fa-square-facebook" id='fb'></i></a></li>
                <li><a href="https://www.linkedin.com/company/ojus-apsit/about/"><i class="fa-brands fa-linkedin" id='ldn'></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy;2024 Ojus. designed by <span><a href="{% url 'team' %}">Ojus tech team👨‍💻</a></span></p>
        </div>

        </footer>
    
    <script>
        AOS.init();
    </script>


{% endblock %}