@import url('https://fonts.googleapis.com/css2?family=Acme&family=Croissant+One&family=Gasoek+One&family=Lobster&family=Lora:ital,wght@1,500&family=Notable&family=Open+Sans:wght@300;400&family=Play&family=Poppins:wght@300&family=Rajdhani:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
    background-size: cover;
    background-position: center;
    margin: 0;
    position: relative;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.sliding-text {
    font-size: 100px;
    font-family: 'Notable', sans-serif;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 0;
    white-space: nowrap;
    margin-right: 50vw;
    transform: translateX(-100%);
    animation: slideText 8s linear infinite;
    background: linear-gradient(to bottom, #434343, #000000);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    z-index: -1;
}

@keyframes slideText {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.logo {
    max-width: 100%; /* Ensure the logo doesn't exceed its container */
    height: auto; /* Maintain aspect ratio */
    display: block; 
    position:fixed;
    top: 0;
    left: 0;
    margin: 20px;
    padding: 20px;
    z-index: 999;
    background-color: black;
    border-radius: 50%; 
}

.logo img {
    max-width: 100px;
    height: auto; /* Ensures the logo scales proportionally */
    display: block;
    
}
.wrapper {
    line-height: 2px;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 420px;
    margin: 0 auto;
    background: rgba(35, 37, 38, 0.92);  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, rgba(65, 67, 69, 0.92), rgba(35, 37, 38, 0.92));  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, rgba(65, 67, 69, 0.92), rgba(35, 37, 38, 0.92));
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 5px;
    padding: 30px 20px;
}

.wrapper h1 {
    font-size: 28px;
    text-align: center;
    padding: 20px;
}

.input-box {
    width: 100%;
    height: 50px;
    position: relative;
    margin-top: 15px;
}

.input-box input {
    font-family: 'Acme', sans-serif;
    font-weight: 300;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 5px;
    font-size: 16px;
    color: hsl(0, 0%, 100%);
    padding: 15px 20px;
}

.remember-forgot {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin: 10px 0;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;   
}

.btn {
    font-family: 'Play', sans-serif;
    font-size: 22px;
    font-weight: 200;
    background-image: linear-gradient(to right, #e52d27 0%, #b31217  51%, #e52d27  100%);
    width: 60%;
    height: 45px;
    border: none;
    outline: none;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    display: block;
}

.btn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.wrapper .btn:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
}

.register-link {
    font-size: 14px;
    text-align: center;
    margin: 15px 0;
}

.input__icon-wrapper {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    cursor: pointer;
}

.input__icon {
    color: #999;
    font-size: 20px;
}

@media screen and (max-width: 600px) {
    .wrapper {
        padding: 20px 10px;
    }

    .wrapper h1 {
        font-size: 24px;
    }

    .input-box input {
        font-size:14px;
        padding: 12px 15px;
    }

    .submit {
        margin-top: 15px;
    }

    .btn {
        font-size: 16px;
        height: 35px;
    }

    .input__icon {
        font-size: 18px;
    }

    .logo{
        max-width: 50%;
    }

    .logo img{
        max-width: 60px;
    }
    
    .sliding-text{
        font-size: 75px;
    }
}
