@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
body{
    position: relative;
    background-image: url("../static/assets/doodles-bg.png");
    background-repeat: repeat;
    background-size: 700px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: 0px;
}

body::-webkit-scrollbar-thumb {
    background-color: transparent;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -2;
}

#back-to-home {
    position: fixed;
    top: 15px;
    left: 15px;
    background: linear-gradient(45deg, #ff8a00, #d50f75); 
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    color: #fffffffe;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
    z-index: 99;
  }

.cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    padding: 10px;
    grid-gap: 30px;
    margin-top: 100px;
    width: 100%;
    min-height: 100vh;
    margin-left: 8px;
}
.card{
    background-color: #292626;
    border-radius: 20px;
    max-width: 31.5%;
    height: auto;
}
.container{
    position: relative;
    align-items: center;
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
}
.card-img{
    min-width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}
.container:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;

}
.card:nth-child(1n)>.container:after{
    background-image: linear-gradient(
        135deg,
        #0100ec,
        #fb36f4
    );
}
.card:nth-child(2n)>.container:after {
    background-image: linear-gradient(135deg,#2bdce3, #42ffdb);
}

.card:nth-child(3n)>.container:after {
    background-image: linear-gradient(135deg,#ffab1d, #f8501c);
}
.details{
    padding: 20px 10px;
}
.details>h3{
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
}
.details>p{
    color: #a0a0a0;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}

footer{
    background-color:rgba(0, 0, 0, 0.8);
    padding-top: 25px;
    margin-top: 25px;

}

.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
    align-items: center;
    justify-content: center;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;



}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 800;
    text-transform: capitalize;
    line-height: 3rem;
    color: #f0f0f0;
    
}
.footer-content p{
    font-family:'Poppins', serif;
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 16px;
    color: #f8f8f8;
    
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    padding-right: 40px;
}
.socials li{
    margin: 0 15px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 25px;
    transition: color .4s ease;    
}
.socials a:hover i#insta{
    background: -webkit-radial-gradient(33% 100% circle, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
    background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.socials a:hover i#yt{
    color: #cd201f;
}
.socials a:hover i#fb{
    transform: scale(1.1); /* Increase the scale as needed */
    color: #1877f2;
}
.socials a:hover i#ldn{
    transform: scale(1.1); /* Increase the scale as needed */
    color: #0077B5;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    color: crimson;
}
.footer-bottom span a{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    opacity: 0.6;
    font-weight: 1000;
    text-decoration: none;
}


@media screen and (max-width: 760px) {
    body{
        background-size: 500px;
    }
    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card{
        max-width: 80vw;
        height: auto;
    }
    .container{
        position: relative;
        clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
    }
    img{
        width: 100%;
        display: block;
        border-radius: 20px 20px 0 0;
    }
    h3{
        font-size: 10px;
    }

    
}