@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
body{
    position: relative;
    background-image: url("../static/assets/doodles-bg.png");
    background-repeat: repeat;
    background-size: 700px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: 0px;
}

body::-webkit-scrollbar-thumb {
    background-color: transparent;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -2;
}

h1{
    color: crimson;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    padding: 20px;
    grid-gap: 40px;
    margin-top: 100px;
    min-height: 100%;
}
.card{
    background-color: #1c1b29;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
    max-width: 30vw;
    height: auto;
}
.container{
    position: relative;
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
}
img{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}
.container:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
}
.card1>.container:after{
    background-image: linear-gradient(
        135deg,
        #0100ec,
        #fb36f4
    );
}
.card2>.container:after{
    background-image: linear-gradient(
        135deg,
        #2bdce3,
        #42ffdb
    );
}
.card3>.container:after{
    background-image: linear-gradient(
        135deg,
        #ffab1d,
        #f8501c
    );
}
.details{
    padding: 20px 10px;
}
.details>h3{
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
}
.details>p{
    color: #a0a0a0;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}

footer{
    background-color:rgba(0, 0, 0, 0.8);
    padding-top: 25px;
    margin-top: 25px;

}

.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
    align-items: center;
    justify-content: center;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;



}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 800;
    text-transform: capitalize;
    line-height: 3rem;
    color: #f0f0f0;
    
}
.footer-content p{
    font-family:'Poppins', serif;
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 16px;
    color: #f8f8f8;
    
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    color: crimson;
}
.footer-bottom span a{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    opacity: 0.6;
    font-weight: 1000;
    /* color: crimson; */
    text-decoration: none;
}

nav {
    width: 100%;
    position: absolute;
    margin-top: 10px;
    display: inline-block;
    top: 0;
    left: 0;
    padding: 0px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo{
    width: 100px;
    border-radius: 50%;
    top: 0;
    right: 0;
    padding: 5px;
    background-color: #070606;
    box-shadow: 10px 10px 20px black;
}

.logo img {
    max-width: 80px;
    height: auto;
    display: block;
    
}

nav ul li {
    list-style :none;
    display: inline-block;
    margin-right: 40px;
}

nav ul li a {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-decoration: none;
    color: #fffffffe;
    font-size: 22px;
    font-weight: 650;
}

nav ul li a:hover{
    text-decoration: none;
    background: linear-gradient(45deg, #ff8a00, #e52e71);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 22px;
    font-weight: 650;
}
.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -2;
    width: 100%;
    height: auto;
    object-fit: cover;
}

#home-section .content {
    z-index: 1;
    color: white; /* Adjust text color as needed */
}

#socials{
        position: absolute;
        bottom: 20px;
        right: 20px;
        display: flex;
        gap: 10px;
        align-items: center;
    }

    #socials p{
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        color:white;
        text-align: center;
    }


    .icons{
        display: inline-flex  ;
        align-items: center;
        justify-content: center;
    }

    .icons a img{
        width: 50px;
        height: 50px;
        transition: tranform 0.3s ease;
    }

    .icons a img:hover{
       transform: scale(1);
    }

.logo{
    width: 100px;
    border-radius: 50%;
    top: 0;
    right: 0;
    padding: 5px;
    background-color: #070606;
    box-shadow: 10px 10px 20px black;
}

.logo img {
    max-width: 80px;
    height: auto;
    display: block;
    
}

.header{
    max-height:80px;
    align-items: center;
}
nav {
    width: 100%;
    position: absolute;
    margin-top: 10px;
    display: inline-block;
    top: 0;
    left: 0;
    padding: 0px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


