@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Croissant+One&family=Lobster&family=Lora:ital,wght@1,500&family=Mina:wght@700&family=Notable&family=Open+Sans:wght@300;400&family=Play&family=Poppins:wght@700&family=Rajdhani:wght@300;700&family=Rubik+Doodle+Shadow&family=Russo+One&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    position: relative;
    background-image: url("../static/assets/doodles-bg.png");
    background-repeat: repeat;
    background-size: 700px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    user-select: none;
}
body::-webkit-scrollbar {
    width: 0px;
}

body::-webkit-scrollbar-thumb {
    background-color: transparent;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -2;
}

#home-section {
    position: relative;
    min-width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    
}

#home-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    z-index: -1;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}


nav ul li a:hover{
    text-decoration: none;
    background: linear-gradient(45deg, #ff8a00, #e52e71);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 22px;
    font-weight: 650;
}

nav {
    width: 100%;
    position: fixed; 
    top: 0;
    left: 0;
    padding: 5px 5% 5px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s ease;
    z-index: 98;
}

nav.scrolled {
    background-color: rgba(0, 0, 0, 0.8);
}

nav ul li {
    list-style :none;
    display: inline-block;
    margin-right: 40px;
}

nav ul li a {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-decoration: none;
    color: #fffffffe;
    font-size: 22px;
    font-weight: 650;
}

.menu-icon i{
    display: hidden;
    opacity: 0;
}

.back-video {
    margin-top: -20px;
    position: absolute;
    right: 0;   
    top: 0;
    z-index: -2;
    min-height: 100vh;
    object-fit: cover;
    width: 100%;
}

video-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    top: 50%;
    left: 50%;
}



#home-section .content {
    z-index: 1;
    color: white; /* Adjust text color as needed */
}

#socials{
        margin-bottom: 3vh;
        position: absolute;
        bottom: 10px;
        right: 10px;
        display: flex;
        gap: 10px;
        align-items: center;
    }

    #socials p{
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        color:white;
        text-align: center;
    }


    .icons{
        display: inline-flex  ;
        align-items: center;
        justify-content: center;
    }

    .icons a img{
        width: 50px;
        height: 50px;
        transition: tranform 0.3s ease;
    }

    .icons a:hover img {
        transform: scale(1.1);
    }

.logo{
    position:stic;
    width: 12vh;
    border-radius: 50%;
    margin-top: 0.5rem;
    top: 0;
    right: 0;
    padding: 5px;
    background-color: #070606;
    box-shadow: 10px 10px 20px black;
}

.logo img {
    max-width: 80px;
    height: auto;
    display: block;
    
}

.header{
    max-height:80px;
    align-items: center;
}



.hero-container{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    text-align: left;
}
.hero {
    left: 0;
    display: flex;
    justify-content: flex-start;
    text-align: left;
}

.hero-container img{
    max-height: 50vh;
}

.hero h1{
    font-size: 12vh;
}
.hero h2{
    
    font-size: 8vh;
}

.hero h1,h2{
    font-family: 'Rubik Doodle Shadow', sans-serif;
    color: transparent;
    background: linear-gradient(45deg, #ff8a00, #e52e71); 
    -webkit-text-stroke:1px #fff ;
    -webkit-background-clip: text;
    background-clip: text;
    background-position: 0 0;
}

#section-2{
    min-width: 100%;
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: left;
    background-color: rgba(7, 6, 6, 0.6);
    padding-top: 50px;
    padding-bottom: 20px;
    margin-bottom: 100px;
    
}

#section-2::after{
    z-index: -1;
    filter: blur(5px);
}



.subhead{
    font-family: "Poppins", sans-serif;
    padding-top: 20px;
}

#section-2 img{
    width: 70%;
    height: auto;
}

#section-2 .description{
    max-width: 95%;
    
}



.blurb{
    font-size: 2vh;
    color: antiquewhite;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}



.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#section-3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.btn-group{
    display: flex;
    flex-wrap: wrap;
    max-width:80%;
    border-radius:35px;
    padding: 30px;
}
.btn-group button {
    flex: 1;
    background: #121212;
    border: 1px solid rgb(221, 178, 4); 
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    width: 30vw; 
    line-height: 2px;
  }

  .btn-group button h6{
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Poppins',sans-serif;
  }

  .btn-group button p{
    font-family: 'Poppins',sans-serif;
    font-size: 1rem;
  }

  .btn-group:after {
    content: "";
    clear: both;
    display: table;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  .btn-group button:hover {
    
    background: linear-gradient(45deg, #ff8a00, #d50f75);
  }



#section-4 .heading h5{
    font-family: 'Croissant One', sans-serif;
    font-size: 10vh;
    color: chocolate;
}
#carouselExample{
    padding:5vw;
}

#section-4 {
    line-height: 5px;
}

.carousel-inner{
    border-radius: 20px;
    max-height: 80vh;
    object-fit: cover;
}

.divider {
    background: linear-gradient(45deg, #ff8a00, #e52e71);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 2em;
    font-family: 'Russo One', sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
}
.gdiv {
    height: 2px;
    background-color: #f8f8f8;
    border: none;
    margin: 10px 0;
}



footer{
    background-color:rgba(0, 0, 0, 0.8);
    padding-top: 25px;

}

.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
    align-items: center;
    justify-content: center;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 3rem;
    color: #f0f0f0;
    
}
.footer-content p{
    font-family:'Poppins', serif;
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 16px;
    color: #f8f8f8;
    
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    padding-right: 40px;
}
.socials li{
    margin: 0 15px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 25px;
    transition: color .4s ease;    
}
.socials a:hover i#insta{
    background: -webkit-radial-gradient(33% 100% circle, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
    background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.socials a:hover i#yt{
    color: #cd201f;
}
.socials a:hover i#fb{
    transform: scale(1.1); /* Increase the scale as needed */
    color: #1877f2;
}
.socials a:hover i#ldn{
    transform: scale(1.1); /* Increase the scale as needed */
    color: #0077B5;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    color: crimson;
}
.footer-bottom span a{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    opacity: 0.6;
    font-weight: 1000;
    /* color: crimson; */
    text-decoration: none;
}

    @media screen and (max-width: 760px) {

        body{
            background-size: 500px;
        }
        #home-section::before,
        #home-section::after {
            height: 15px;
        }

        #home-section{
            max-height: 100vh;
        }
    
        nav {
            flex-direction: row;
        }
        
        nav ul {
            border-radius: 15px;
            flex-direction: column;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.8);
            position: absolute;
            justify-self: center;
            top: 100px;
            right: 0;
            transform: translateX(50%);
            width: 100%;
            display: none;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s ease-in-out, opacity 0.5s ease;
            transform: translateY(-100%);
            opacity: 0;
        }
        
        
        nav ul li:last-child {
            border-bottom: none;
        }
        
        nav ul.show {
            display: flex;
            transform: translateY(0);
            opacity: 1;
        }
        
        nav ul li {
            margin: 10px 0;
            opacity: 0;
            animation: fadeIn 0.5s ease-in-out forwards;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            padding-bottom: 10px;
        }
        
        .menu-icon {
            display: block;
            cursor: pointer;
            transition: transform 0.3s ease-in-out;
        }
        
        .menu-icon.open {
            transform: rotate(90deg);
        }
    
        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: translateY(10px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
        
    
        .menu-icon i{
            opacity: 1;
            font-size: 3.5vh;
            color: white;
        }
    
        .hero h1{
            display: none;
        }
        .hero h2{
            font-size: 10vw;
        }
    
        #socials img{
            max-height: 40px;
            width: auto;
        }-
    
        .hero h1 {
            font-size: 20vw;
        }
    
        .hero h2 {
            font-size: 12vw;
        }
    

        .hero{
            display: hidden;
        }

        #section-2 {
            flex-direction: column; /* Stack items vertically */
            align-items: center;
            text-align: center;
        }
    
        #section-2 img {
            width: 60%;
            margin-bottom: 10px;
        }
    
        #section-2 .description {
            max-width: 100%;
            padding: 0px 10px;
        }
    
        .blurb{
            font-size: 50px;
        }

        
    }

    .gradientText{
        background: linear-gradient(45deg, #ff8a00, #e52e71);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        
    }

  
    #goUp {
        display: inline-block;
        background-color:#fd8309;
        width: 50px;
        height: 50px;
        line-height:60px;
        text-align: center;
        border-radius: 14px;
        position: fixed;
        bottom: 30px;
        right: 30px;
        transition: background-color .3s, 
        opacity .5s, visibility .5s;
        opacity: 0;
        z-index: 1000;
      }
      
      #goUp i{
        font-size:32px;
        color:white;
      }
      
      
      
      #goUp:hover {
        cursor: pointer;
        background-color: #333;
      }
      
      #goUp.show {
        opacity: 1;
      }

      @media (min-width: 760px) {
        #goUp {
          margin: 30px;
        }
      }