@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background-image: url("../static/assets/doodles-bg.png");
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -2;
  }

section{
    position: relative;
}
.container{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}
.container .card{
    position: relative;
    width: 300px;
    height: 400px;
    background: rgb(119, 78, 78);
    margin: 20px;
    box-shadow: 0 15px 35px rgb(0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}
.container .card .content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
}
.container .card:hover .content{
    opacity: 1;
    transform: translateY(-20px);
}
.container .card .content .imgBx{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0,0, 0, 0.25);
}
.container .card .content .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.container .card .content .contentBx h3{
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;

}
.container .card .content .contentBx h3 span{
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}
.container .card .sci{
    position: absolute;
    border: 50px;
    display: flex;
}
.container .card .sci li{
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;

}
.container .card .sci li a {
    color: white;
    font-size: 24px;
}

#back-to-home {
    position: fixed;
    top: 15px;
    left: 15px;
    background: linear-gradient(45deg, #ff8a00, #d50f75); 
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    color: #fffffffe;
    font-size: 16px;
    margin-bottom: 10px;
    z-index: 99;
  }
