{% extends 'base.html' %}

{% block content %}

{% load static %}

   <link rel="stylesheet" href="{% static 'css/council.css' %}" />

    {% include 'preloader.html' %}

    <div class="main">

      <div class="overlay">
          <a id="back-to-home" href="{% url "cultural" %}"><span>Back</span></a>

        <div class="hero">
          <div class="title">Meet The Pantheon</div>
          <div class="subtitle">Student Council 2k24</div>
        </div>
        <div class="first">
          <div class="card">
            <div class="image-container">
              <div class="profile"></div>
              <div class="user-image">
                <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707636347/council/anuj_rtfkp8.jpg" alt="" />
              </div>
            </div>
            <div class="name">Anuj Shinde</div>
            <div class="designation">President</div>
          </div>
          <div class="card">
            <div class="image-container">
              <div class="profile"></div>
              <div class="user-image">
                <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1708885199/council/Anipost_jpq7vi.jpg" alt="" />
              </div>
            </div>
            <div class="name">Aniruddha Sawant</div>
            <div class="designation">General Secretary</div>
          </div>
        </div>
        <div class="second">
          <div class="card">
            <div class="image-container">
              <div class="profile"></div>
              <div class="user-image">
                <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707636346/council/razzaq_mc2t0v.jpg" alt="" />
              </div>
            </div>
            <div class="name">Razzaq Shikalgar</div>
            <div class="designation">Cultural Secratary</div>
          </div>
          <div class="card">
            <div class="image-container">
              <div class="profile"></div>
              <div class="user-image">
                <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707636349/council/ria_hrohan.jpg" alt="" />
              </div>
            </div>
            <div class="name">Ria Gawai</div>
            <div class="designation">Ladies Representative</div>
          </div>
          <div class="card">
            <div class="image-container">
              <div class="profile"></div>
              <div class="user-image">
                <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1708885188/council/palav_lu9o1u.jpg" alt="" />
              </div>
            </div>
            <div class="name">Soham palav</div>
            <div class="designation">Sports Secratary</div>
          </div>
        </div>
        <div class="third joint-section">
          <div class="heading">Joint Cultural Secretaries</div>
          <div class="card">
            <div class="image-container">
              <div class="profile"></div>
              <div class="user-image">
                <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707636351/council/adrian_depne2.jpg" alt="" />
              </div>
            </div>
            <div class="name">Adrian Gilbert</div>
          </div>

                    <div class="card">
            <div class="image-container">
              <div class="profile"></div>
              <div class="user-image">
                <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707636349/council/shravani_y7qgrs.jpg" alt="" />
              </div>
            </div>
            <div class="name">Shravani Kulkarni</div>
          </div>
          <div class="card">
            <div class="image-container">
              <div class="profile"></div>
              <div class="user-image">
                <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707636347/council/alisha_pxm9jz.jpg" alt="" />
              </div>
            </div>
            <div class="name">Alisha Singhvi</div>
          </div>

          <div class="card">
            <div class="image-container">
              <div class="profile"></div>
              <div class="user-image">
                <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707636349/council/ansh_l0upek.jpg" alt="" />
              </div>
            </div>
            <div class="name">Ansh Chavan</div>
          </div>
          
        </div>
        <div class="fourth joint-section">
          <div class="heading">Joint Sports Secretaries</div>

          <div class="card">
            <div class="image-container">
              <div class="profile"></div>
              <div class="user-image">
                <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707636347/council/amogh_jy2cyt.jpg" alt="" />
              </div>
            </div>
            <div class="name">Amogh Dewanpelli</div>
          </div>
          <div class="card">
            <div class="image-container">
              <div class="profile"></div>
              <div class="user-image">
                <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707636347/council/sharayu_spoauy.jpg" alt="" />
              </div>
            </div>
            <div class="name">Sharayu Mahajan</div>
          </div>
          <div class="card">
            <div class="image-container">
              <div class="profile"></div>
              <div class="user-image">
                <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707636350/council/sanket_nph23s.jpg" alt="" />
              </div>
            </div>
            <div class="name">Sanket Sarode</div>
          </div>
          <div class="card">
            <div class="image-container">
              <div class="profile"></div>
              <div class="user-image">
                <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1708840815/council/om_kumbhar-min_gdokaw.jpg" alt="" />
              </div>
            </div>
            <div class="name">Om Kumbhar</div>
          </div>
          
        </div>
      </div>
    </div>
    <section class="madeWithLove">
    <h5>made with ❤️ by <a href="{% url 'team' %}">Ojus Webdev</a></h5>
</section>





{% endblock %}