{% extends 'base.html' %}

{% block content %}

{% load static %}

   <link rel="stylesheet" href="{% static 'css/council.css' %}" />


    <body>
    <div class="main">
      <div class="overlay">
        <div class="hero">
          <div class="title">Meet The Pantheon</div>
          <div class="subtitle">Student Council 2k24</div>
        </div>
        <div class="first">
          <div class="card">
            <div class="image-container">
              <div class="profile"></div>
              <div class="user-image">
                <img src="images/profile.png" alt="" />
              </div>
            </div>
            <div class="name">Anuj Shinde</div>
            <div class="designation">President</div>
          </div>
          <div class="card">
            <div class="image-container">
              <div class="profile"></div>
              <div class="user-image">
                <img src="images/profile.png" alt="" />
              </div>
            </div>
            <div class="name">Aniruddha Sawant</div>
            <div class="designation">General Secretary</div>
          </div>
        </div>
        <div class="second">
          <div class="card">
            <div class="image-container">
              <div class="profile"></div>
              <div class="user-image">
                <img src="images/profile.png" alt="" />
              </div>
            </div>
            <div class="name">Razzaq Shikalgar</div>
            <div class="designation">Cultural Secratary</div>
          </div>
          <div class="card">
            <div class="image-container">
              <div class="profile"></div>
              <div class="user-image">
                <img src="images/profile.png" alt="" />
              </div>
            </div>
            <div class="name">Ria Gawai</div>
            <div class="designation">Ladies Representative</div>
          </div>
          <div class="card">
            <div class="image-container">
              <div class="profile"></div>
              <div class="user-image">
                <img src="images/profile.png" alt="" />
              </div>
            </div>
            <div class="name">Soham palav</div>
            <div class="designation">Sports Secratary</div>
          </div>
        </div>
        <div class="third joint-section">
          <div class="heading">Joint Cultural Secretaries</div>
          <div class="card">
            <div class="image-container">
              <div class="profile"></div>
              <div class="user-image">
                <img src="images/profile.png" alt="" />
              </div>
            </div>
            <div class="name">Amogh Dewanpelli</div>
          </div>
          <div class="card">
            <div class="image-container">
              <div class="profile"></div>
              <div class="user-image">
                <img src="images/profile.png" alt="" />
              </div>
            </div>
            <div class="name">Sharayu Mahajan</div>
          </div>
          <div class="card">
            <div class="image-container">
              <div class="profile"></div>
              <div class="user-image">
                <img src="images/profile.png" alt="" />
              </div>
            </div>
            <div class="name">Sanket Sarode</div>
          </div>
          <div class="card">
            <div class="image-container">
              <div class="profile"></div>
              <div class="user-image">
                <img src="images/profile.png" alt="" />
              </div>
            </div>
            <div class="name">Om Kumbhar</div>
          </div>
        </div>
        <div class="fourth joint-section">
          <div class="heading">Joint Sports Secretaries</div>
          <div class="card">
            <div class="image-container">
              <div class="profile"></div>
              <div class="user-image">
                <img src="images/profile.png" alt="" />
              </div>
            </div>
            <div class="name">Adrien Gilbert</div>
          </div>
          <div class="card">
            <div class="image-container">
              <div class="profile"></div>
              <div class="user-image">
                <img src="images/profile.png" alt="" />
              </div>
            </div>
            <div class="name">Alisha Sanghvi</div>
          </div>
          <div class="card">
            <div class="image-container">
              <div class="profile"></div>
              <div class="user-image">
                <img src="images/profile.png" alt="" />
              </div>
            </div>
            <div class="name">Shravani Kulkarni</div>
          </div>
          <div class="card">
            <div class="image-container">
              <div class="profile"></div>
              <div class="user-image">
                <img src="images/profile.png" alt="" />
              </div>
            </div>
            <div class="name">Ash Chavan</div>
          </div>
        </div>
      </div>
    </div>
  </body>






{% endblock %}