{% extends 'base.html' %}

{% block content %}

{% load static %}

   <link rel="stylesheet" href="{% static 'css/council.css' %}" />


    <div class="main">
    <a class="back-home" href="{% url "signup" %}"><span>Signup</span></a>
      <div class="overlay">
        <div class="hero">
          <div class="title">Meet The Pantheon</div>
          <div class="subtitle">Student Council 2k24</div>
        </div>
        <div class="first">
          <div class="card">
            <div class="image-container">
              <div class="profile"></div>
              <div class="user-image">
                <img src="{% static 'assets/council/anuj.jpg' %}" alt="" />
              </div>
            </div>
            <div class="name">Anuj Shinde</div>
            <div class="designation">President</div>
          </div>
          <div class="card">
            <div class="image-container">
              <div class="profile"></div>
              <div class="user-image">
                <img src="{% static 'assets/profile.png' %}" alt="" />
              </div>
            </div>
            <div class="name">Aniruddha Sawant</div>
            <div class="designation">General Secretary</div>
          </div>
        </div>
        <div class="second">
          <div class="card">
            <div class="image-container">
              <div class="profile"></div>
              <div class="user-image">
                <img src="{% static 'assets/council/razzaq.jpg' %}" alt="" />
              </div>
            </div>
            <div class="name">Razzaq Shikalgar</div>
            <div class="designation">Cultural Secratary</div>
          </div>
          <div class="card">
            <div class="image-container">
              <div class="profile"></div>
              <div class="user-image">
                <img src="{% static 'assets/council/ria.jpg' %}" alt="" />
              </div>
            </div>
            <div class="name">Ria Gawai</div>
            <div class="designation">Ladies Representative</div>
          </div>
          <div class="card">
            <div class="image-container">
              <div class="profile"></div>
              <div class="user-image">
                <img src="{% static 'assets/council/palav.jpg' %}" alt="" />
              </div>
            </div>
            <div class="name">Soham palav</div>
            <div class="designation">Sports Secratary</div>
          </div>
        </div>
        <div class="third joint-section">
          <div class="heading">Joint Cultural Secretaries</div>
          <div class="card">
            <div class="image-container">
              <div class="profile"></div>
              <div class="user-image">
                <img src="{% static 'assets/council/amogh.jpg' %}" alt="" />
              </div>
            </div>
            <div class="name">Amogh Dewanpelli</div>
          </div>
          <div class="card">
            <div class="image-container">
              <div class="profile"></div>
              <div class="user-image">
                <img src="{% static 'assets/council/sharayu.jpg' %}" alt="" />
              </div>
            </div>
            <div class="name">Sharayu Mahajan</div>
          </div>
          <div class="card">
            <div class="image-container">
              <div class="profile"></div>
              <div class="user-image">
                <img src="{% static 'assets/council/sanket.jpg' %}" alt="" />
              </div>
            </div>
            <div class="name">Sanket Sarode</div>
          </div>
          <div class="card">
            <div class="image-container">
              <div class="profile"></div>
              <div class="user-image">
                <img src="{% static 'assets/council/om.jpg' %}" alt="" />
              </div>
            </div>
            <div class="name">Om Kumbhar</div>
          </div>
        </div>
        <div class="fourth joint-section">
          <div class="heading">Joint Sports Secretaries</div>
          <div class="card">
            <div class="image-container">
              <div class="profile"></div>
              <div class="user-image">
                <img src="{% static 'assets/council/adrian.jpg' %}" alt="" />
              </div>
            </div>
            <div class="name">Adrien Gilbert</div>
          </div>

                    <div class="card">
            <div class="image-container">
              <div class="profile"></div>
              <div class="user-image">
                <img src="{% static 'assets/council/shravani.jpg' %}" alt="" />
              </div>
            </div>
            <div class="name">Shravani Kulkarni</div>
          </div>
          <div class="card">
            <div class="image-container">
              <div class="profile"></div>
              <div class="user-image">
                <img src="{% static 'assets/council/alisha.jpg' %}" alt="" />
              </div>
            </div>
            <div class="name">Alisha Sanghvi</div>
          </div>

          <div class="card">
            <div class="image-container">
              <div class="profile"></div>
              <div class="user-image">
                <img src="{% static 'assets/council/ansh.jpg' %}" alt="" />
              </div>
            </div>
            <div class="name">Ansh Chavan</div>
          </div>
        </div>
      </div>
    </div>






{% endblock %}