{% extends "base.html" %}

{% block content %}
{% load static %}

    <link href="{% static 'css/event-detail(cult).css' %}" type="text/css" rel="stylesheet" />

    <script src="{% static 'https://kit.fontawesome.com/93e46d1cec.js' %}" crossorigin="anonymous"></script>

    <section>
    <div id="back-to-home" onclick="window.location.href='index.html'">
        <!-- <i class="fa-solid fa-caret-left"></i>  -->
        Back</div>
   
        <div class="main-img">
            <img src="https://res.cloudinary.com/dsduxocoj/image/upload/v1707541347/eventShower_2_xjmhjs.jpg" alt="">
            <div class="submit">
                <button type="submit" class="btn"  onclick="toggleSignupForm()">Register</button>
            </div>  
        </div>
        <div id="signupform" class="signup-closed">
            <button class="close-btn" onclick="toggleSignupForm()">X</button>
          <div class="form-title">Register Your <br>Team</div>
            <form action="">
                <div class="input-box">
                    <input type="text" id="pname1" name="pname" placeholder="Full Name" required />
                  </div>
                  <div class="input-box">
                    <input type="text" id="pname2" name="pname" placeholder="Full Name" required />
                  </div>
                  <div class="input-box">
                    <input type="text" id="pname3" name="pname" placeholder="Full Name" required />
                  </div>
                  <div class="input-box">
                    <input type="text" id="pname4" name="pname" placeholder="Full Name" required />
                  </div>
              <div class="input-box">
                <input type="text" id="contact" name="contact" pattern="[0-9]{10}" inputmode="tel" placeholder="Mobile Number" required/>
              </div>
              <div class="input-box">
                <select required title="Department">
                  <option value="" disabled selected>Department</option>
                  <option value="COMPS">COMPS</option>
                  <option value="IT">IT</option>
                  <option value="AIML">AIML</option>
                  <option value="DS">DS</option>
                  <option value="MECH">MECH/EXTC</option>
                  <option value="CIVIL">CIVIL</option>
                  </select>
              </div>
              <div class="input-box">
                  <select required title="Year">
                  <option value="" disabled selected>Select a Year</option>
                  <option value="FE">FE</option>
                  <option value="SE">SE</option>
                  <option value="TE">TE</option>
                  <option value="BE">BE</option>
                  </select>
              </div>
              <button class="signupbtn" type="submit" id="registerBtn">Register</button>
            </form>
        <div class="text">
            <h4>Event Details</h4>
            <h1>{{events.name}}</h1>
            <h2>Description</h2>
            <hr>
            <p> 
                {% for rule in rules %}
                - {{rule.name}} <br>
                {% endfor %}
            </p>
            <div class="last-text">
                <div class="text1">
                    <h3>VENUE</h3>
                    <h5>{{events.venue}}</h5>
                </div>
                <div class="text2">
                    <h3>Date </h3>
                    <h5>{{events.date}}</h5>
                </div>
                <div class="text3">
                    <h3>Time</h3>
                    <h5>{{events.time}}</h5>
                </div>
            </div>
        </div>
    </section>
    <figure class="notification" id="notificationPopup" style="display: none;">
        <div class="notification__body">
            <div class="notification__description">
                <div class="icon__wrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M5 12l5 5l10 -10"></path>
                    </svg>
                </div>
                Registration Successful!
            </div>
        </div>
        <div class="notification__progress"></div>
    </figure>
</body>

<script>
    document.getElementById('registerBtn').addEventListener('click', function () {
        this.disabled = true;

        document.getElementById('notificationPopup').style.display = 'block';
    });

    document.getElementById('registerBtn').addEventListener('click', function(event) {

        setTimeout(function() {
            window.location.href = "index.html";
        }, 3000);
    });

    function toggleSignupForm() {
  event.preventDefault();
    const signupForm = document.getElementById('signupform');
    signupForm.classList.toggle('signup-closed');
}
</script>


{% endblock %}