{% extends 'base.html' %}

{% block content %}
{% load static %}


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<script src="https://unpkg.com/scrollreveal"></script>

<link rel='stylesheet' href="{% static 'css/heads.css' %}" >

<!-- <div id="title">MEET <span>the</span> <span>TEAM</span></div> -->
<div id="nav">
        <img src="https://res.cloudinary.com/ds2uw5gcw/image/upload/v1707333581/logo_rdybrl.png" alt="">
        <center><h2>
            Event Management
        </h2></center>
    </div>
<!--Team section-->
<!--==============================FIrst section event management team========================================-->
    <section id="team">
        <div class="team-box">
            <div class="t-b-img">
                <!-- <img src="{% static 'assets/heads/krish.png' %}" alt=""> -->
                <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330584/krish_vrpnwb.png" alt="">
            </div>
            <div class="t-b-text">
                <strong>Krish Jaiswal</strong>
                <span>Head</span>
                <div class="team-social">
                    <a href="#"><i class="fab fa-instagram"></i></i></a>
                </div>
            </div>
        </div>
<!--SECOND========================================-->
        <div class="team-box">
            <!--Imagesss-->
            <div class="t-b-img">
                <!-- <img src="{% static 'assets/heads/miheet shah.png'%}" alt=""> -->
                <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330584/miheet_shah_z22bpc.png" alt="">
            </div>
            <!--Text for boxes-->
            <div class="t-b-text">
                <strong>Miheet Shah</strong>
                <span>Head</span>
                <!--SOcials-->
                <div class="team-social">
                    <a href="#"><i class="fab fa-instagram"></i></i></a>
                </div>
            </div>
        </div>
<!--Third========================================-->
        <div class="team-box">
            <!--Imagesss-->
            <div class="t-b-img">
                <!-- <img src="{% static 'assets/heads/dravesh.png' %}" alt=""> -->
                <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330583/dravesh_t2wcfu.png" alt="">
            </div>
            <!--Text for boxes-->
            <div class="t-b-text">
                <strong>Dravesh Jain</strong>
                <span>Co-Head</span>
                <!--SOcials-->
                <div class="team-social">
                    <a href="#"><i class="fab fa-instagram"></i></i></a>
                </div>
    </section>
<!--==============================Second section creativity teeam=================================-->
<div id="nav">
    <center><h2>
        Creativity
    </h2></center>
</div>
<section id="team">
    <div class="team-box">
        <div class="t-b-img">
            <!-- <img src="{% static 'assets/heads/ratan.png'%}" alt=""> -->
            <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330876/ratan_klsay7.png" alt="">
        </div>
        <div class="t-b-text">
            <strong>Ratan Dhere</strong>
            <span>Head</span>
            <div class="team-social">
                <a href="#"><i class="fab fa-instagram"></i></i></a>
            </div>
        </div>
    </div>
<!--SECOND========================================-->
    <div class="team-box">
        <!--Imagesss-->
        <div class="t-b-img">
            <!-- <img src="{% static 'assets/heads/shweta.png' %}" alt=""> -->
            <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330879/shweta_r36ebv.png" alt="">
        </div>
        <!--Text for boxes-->
        <div class="t-b-text">
            <strong>Sheweta Bhutada</strong>
            <span>Head</span>
            <!--SOcials-->
            <div class="team-social">
                <a href="#"><i class="fab fa-instagram"></i></i></a>
            </div>
        </div>
    </div>
<!--Third========================================-->
    <div class="team-box">
        <!--Imagesss-->
        <div class="t-b-img">
            <!-- <img src="{% static 'assets/heads/deep.png'%}" alt=""> -->
            <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330866/deep_e4w2o5.png" alt="">
        </div>
        <!--Text for boxes-->
        <div class="t-b-text">
            <strong>Deep Kotwal</strong>
            <span>Co-Head</span>
            <!--SOcials-->
            <div class="team-social">
                <a href="#"><i class="fab fa-instagram"></i></i></a>
            </div>
</section>
<!--==============================third section Design teeam=================================-->
<div id="nav">
    <center><h2>
        Design
    </h2></center>
</div>
<section id="team">
    <div class="team-box">
        <div class="t-b-img">
            <!-- <img src="{% static 'assets/heads/aamir baig.png' %}" alt=""> -->
            <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330582/aamir_baig_ng4ajg.png" alt="">
        </div>
        <div class="t-b-text">
            <strong>Aamir Baig</strong>
            <span>Head</span>
            <div class="team-social">
                <a href="#"><i class="fab fa-instagram"></i></i></a>
            </div>
        </div>
    </div>
<!--SECOND========================================-->
    <div class="team-box">
        <!--Imagesss-->
        <div class="t-b-img">
            <!-- <img src="{% static 'assets/heads/dhruv trivedi.png' %}" alt=""> -->
            <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330583/dhruv_trivedi_dd5bfa.png" alt="">
        </div>
        <!--Text for boxes-->
        <div class="t-b-text">
            <strong>Dhruv Trivedi</strong>
            <span>Head</span>
            <!--SOcials-->
            <div class="team-social">
                <a href="#"><i class="fab fa-instagram"></i></i></a>
            </div>
        </div>
    </div>
<!--Third========================================-->
    <div class="team-box">
        <!--Imagesss-->
        <div class="t-b-img">
            <!-- <img src="{% static 'assets/heads/siddhant gaikwad.png' %}" alt=""> -->
            <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330585/siddhant_gaikwad_rixrk3.png" alt="">
        </div>
        <!--Text for boxes-->
        <div class="t-b-text">
            <strong>Siddhant Gaikwad</strong>
            <span>Co-Head</span>
            <!--SOcials-->
            <div class="team-social">
                <a href="#"><i class="fab fa-instagram"></i></i></a>
            </div>
</section>

<!--==============================fourth section Photography teeam=================================-->
<div id="nav">
    <center><h2>
        Photography
    </h2></center>
</div>
<section id="team">
    <div class="team-box">
        <div class="t-b-img">
            <!-- <img src="{% static 'assets/heads/pritam.png' %}" alt=""> -->
            <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330883/pritam_ykv1k6.png" alt="">
        </div>
        <div class="t-b-text">
            <strong>Pritam Patil</strong>
            <span>Head</span>
            <div class="team-social">
                <a href="#"><i class="fab fa-instagram"></i></i></a>
            </div>
        </div>
    </div>
<!--SECOND========================================-->
    <div class="team-box">
        <!--Imagesss-->
        <div class="t-b-img">
            <!-- <img src="{% static 'assets/heads/anurag.png'%}" alt=""> -->
            <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330860/anurag_z35coz.png" alt="">
        </div>
        <!--Text for boxes-->
        <div class="t-b-text">
            <strong>Atharva Kawale</strong>
            <span>Co-Head</span>
            <!--SOcials-->
            <div class="team-social">
                <a href="#"><i class="fab fa-instagram"></i></i></a>
            </div>
        </div>
    </div>
    </section>
<!--==============================fifth section Publicity  teeam=================================-->
<div id="nav">
    <center><h2>
        Publicity
    </h2></center>
</div>
<section id="team">
    <div class="team-box">
        <div class="t-b-img">
            <!-- <img src="{% static 'assets/heads/soham narsinge.png' %}" alt=""> -->
            <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330585/soham_narsinge_htsdmr.png" alt="">
        </div>
        <div class="t-b-text">
            <strong>Soham Narsinge</strong>
            <span>Head</span>
            <div class="team-social">
                <a href="#"><i class="fab fa-instagram"></i></i></a>
            </div>
        </div>
    </div>
<!--SECOND========================================-->
    <div class="team-box">
        <!--Imagesss-->
        <div class="t-b-img">
            <!-- <img src="{% static 'assets/heads/yoshita kumbhar.png' %}" alt=""> -->
            <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330585/yoshita_kumbhar_a7ldmr.png" alt="">
        </div>
        <!--Text for boxes-->
        <div class="t-b-text">
            <strong>Yoshita Kumbhar</strong>
            <span>Head</span>
            <!--SOcials-->
            <div class="team-social">
                <a href="#"><i class="fab fa-instagram"></i></i></a>
            </div>
        </div>
    </div>
<!--Third========================================-->
    <div class="team-box">
        <!--Imagesss-->
        <div class="t-b-img">
            <!-- <img src="{% static 'assets/heads/ritesh singh.png' %}" alt=""> -->
            <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330584/ritesh_singh_j9lyd4.png" alt="">
        </div>
        <!--Text for boxes-->
        <div class="t-b-text">
            <strong>Ritesh Singh</strong>
            <span>Co-Head</span>
            <!--SOcials-->
            <div class="team-social">
                <a href="#"><i class="fab fa-instagram"></i></i></a>
            </div>
</section>
<!--==============================sixth section Cinematography  teeam=================================-->
<div id="nav">
    <center><h2>
        Cinematography
    </h2></center>
</div>
<section id="team">
    <div class="team-box">
        <div class="t-b-img">
            <!-- <img src="{% static 'assets/heads/rishi mane.png'%}" alt=""> -->
            <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330584/rishi_mane_xnwavr.png" alt="">
        </div>
        <div class="t-b-text">
            <strong>Rishi Mane</strong>
            <span>Head</span>
            <div class="team-social">
                <a href="#"><i class="fab fa-instagram"></i></i></a>
            </div>
        </div>
    </div>
<!--SECOND========================================-->
    <div class="team-box">
        <!--Imagesss-->
        <div class="t-b-img">
            <!-- <img src="{% static 'assets/heads/aniket deogharkar.png' %}" alt=""> -->
            <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330583/aniket_deogharkar_ybzckc.png" alt="">
        </div>
        <!--Text for boxes-->
        <div class="t-b-text">
            <strong>Aniket Deogharkar</strong>
            <span>Head</span>
            <!--SOcials-->
            <div class="team-social">
                <a href="#"><i class="fab fa-instagram"></i></i></a>
            </div>
        </div>
    </div>
</section>
<!--==============================seventh section Hospitality teeam=================================-->
<div id="nav">
    <center><h2>
        Hospitality
    </h2></center>
</div>
<section id="team">
    <div class="team-box">
        <div class="t-b-img">
            <!-- <img src="{% static 'assets/heads/ajinkya bhalerao.png' %}" alt=""> -->
            <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330582/ajinkya_bhalerao_y7ygok.png" alt="">
        </div>
        <div class="t-b-text">
            <strong>Ajinkya Bhalerao</strong>
            <span>Head</span>
            <div class="team-social">
                <a href="#"><i class="fab fa-instagram"></i></i></a>
            </div>
        </div>
    </div>
<!--SECOND========================================-->
    <div class="team-box">
        <!--Imagesss-->
        <div class="t-b-img">
            <!-- <img src="{% static 'assets/heads/yukti ogare.png' %}" alt=""> -->
            <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330585/yukti_ogare_ae8vzq.png" alt="">
        </div>
        <!--Text for boxes-->
        <div class="t-b-text">
            <strong>Yukti Ogare</strong>
            <span>Head</span>
            <!--SOcials-->
            <div class="team-social">
                <a href="#"><i class="fab fa-instagram"></i></i></a>
            </div>
        </div>
    </div>
<!--Third========================================-->
    <div class="team-box">
        <!--Imagesss-->
        <div class="t-b-img">
            <!-- <img src="{% static 'assets/heads/abhay thakare.png' %}" alt=""> -->
            <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330583/abhay_thakare_j6wiwt.png" alt="">
        </div>
        <!--Text for boxes-->
        <div class="t-b-text">
            <strong>Abhay Thakare</strong>
            <span>Head</span>
            <!--SOcials-->
            <div class="team-social">
                <a href="#"><i class="fab fa-instagram"></i></i></a>
            </div>
</section>
<!--==============================eight section security teeam=================================-->
<div id="nav">
    <center><h2>
        Security
    </h2></center>
</div>
<section id="team">
    <div class="team-box">
        <div class="t-b-img">
            <!-- <img src="{% static 'assets/heads/aarish sayyed.png' %}" alt=""> -->
            <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330582/aarish_sayyed_b2iq9r.png" alt="">
        </div>
        <div class="t-b-text">
            <strong>Aarish Sayyed</strong>
            <span>Head</span>
            <div class="team-social">
                <a href="#"><i class="fab fa-instagram"></i></i></a>
            </div>
        </div>
    </div>
<!--SECOND========================================-->
    <div class="team-box">
        <!--Imagesss-->
        <div class="t-b-img">
            <!-- <img src="{% static 'assets/heads/vedant pawar.png' %}" alt=""> -->
            <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330585/vedant_pawar_lstiwn.png" alt="">
        </div>
        <!--Text for boxes-->
        <div class="t-b-text">
            <strong>Vedant Pawar</strong>
            <span>Head</span>
            <!--SOcials-->
            <div class="team-social">
                <a href="#"><i class="fab fa-instagram"></i></i></a>
            </div>
        </div>
    </div>
<!--Third========================================-->
    <div class="team-box">
        <!--Imagesss-->
        <div class="t-b-img">
            <!-- <img src="{% static 'assets/heads/abhishek bagade.png' %}" alt=""> -->
            <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330582/abhishek_bagade_deiilw.png" alt="">
        </div>
        <!--Text for boxes-->
        <div class="t-b-text">
            <strong>Abhishek Bagade</strong>
            <span>Co-Head</span>
            <!--SOcials-->
            <div class="team-social">
                <a href="#"><i class="fab fa-instagram"></i></i></a>
            </div>
</section>
<!--==============================ninth section logistics teeam=================================-->
<div id="nav">
    <center><h2>
        Logistics
    </h2></center>
</div>
<section id="team">
    <div class="team-box">
        <div class="t-b-img">
            <!-- <img src="{% static 'assets/heads/vikram shetty.png' %}" alt=""> -->
            <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330582/abhishek_bagade_deiilw.png" alt="">
        </div>
        <div class="t-b-text">
            <strong>Vikram Shetty</strong>
            <span>Head</span>
            <div class="team-social">
                <a href="#"><i class="fab fa-instagram"></i></i></a>
            </div>
        </div>
    </div>
<!--SECOND========================================-->
    <div class="team-box">
        <!--Imagesss-->
        <div class="t-b-img">
            <!-- <img src="{% static 'assets/heads/prem manera.png' %}" alt=""> -->
            <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330584/prem_manera_grw3d9.png" alt="">
        </div>
        <!--Text for boxes-->
        <div class="t-b-text">
            <strong>Prem Manera</strong>
            <span>Head</span>
            <!--SOcials-->
            <div class="team-social">
                <a href="#"><i class="fab fa-instagram"></i></i></a>
            </div>
        </div>
    </div>
</section>
<section id="team">
    <div class="team-box">
        <div class="t-b-img">
            <!-- <img src="{% static 'assets/heads/shreyash gharge.png' %}" alt=""> -->
            <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330584/shreyash_gharge_phtat2.png" alt="">
        </div>
        <div class="t-b-text">
            <strong>Shreyash Gharge</strong>
            <span>Co-Head</span>
            <div class="team-social">
                <a href="#"><i class="fab fa-instagram"></i></i></a>
            </div>
        </div>
    </div>
<!--SECOND========================================-->
    <div class="team-box">
        <!--Imagesss-->
        <div class="t-b-img">
            <!-- <img src="{% static 'assets/heads/harshit jain.png' %}" alt=""> -->
            <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330584/harshit_jain_yrfm1m.png" alt="">
        </div>
        <!--Text for boxes-->
        <div class="t-b-text">
            <strong>Harshit Jain</strong>
            <span>Co-Head</span>
            <!--SOcials-->
            <div class="team-social">
                <a href="#"><i class="fab fa-instagram"></i></i></a>
            </div>
        </div>
    </div>
</section>
<!--==============================tenth section logistics teeam=================================-->
<div id="nav">
    <center><h2>
        Literature
    </h2></center>
</div>
<section id="team">
    <div class="team-box">
        <div class="t-b-img">
            <!-- <img src="{% static 'assets/heads/aaryaman kattali.png' %}" alt=""> -->
            <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330582/aaryaman_kattali_omp5jf.png" alt="">
        </div>
        <div class="t-b-text">
            <strong>Aaryaman Kattali</strong>
            <span>Head</span>
            <div class="team-social">
                <a href="#"><i class="fab fa-instagram"></i></i></a>
            </div>
        </div>
    </div>
<!--SECOND========================================-->
    <div class="team-box">
        <!--Imagesss-->
        <div class="t-b-img">
            <!-- <img src="{% static 'assets/heads/anshuta jagtap.png' %}" alt=""> -->
            <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330582/aaryaman_kattali_omp5jf.png" alt="">
        </div>
        <!--Text for boxes-->
        <div class="t-b-text">
            <strong>Anshuta Jagtap</strong>
            <span>Co-Head</span>
            <!--SOcials-->
            <div class="team-social">
                <a href="#"><i class="fab fa-instagram"></i></i></a>
            </div>
        </div>
    </div>
</section>
<!--==============================eleventh section hosting and anchoring teeam=================================-->

<div id="nav">
    <center><h2>
        Hosting & Anchoring
    </h2></center>
</div>
<section id="team">
    <div class="team-box">
        <div class="t-b-img">
            <!-- <img src="{% static 'assets/heads/sakshi.png'%}" alt=""> -->
            <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330882/sakshi_qthj71.png" alt="">
        </div>
        <div class="t-b-text">
            <strong>Sakshi Kunta</strong>
            <span>Head</span>
            <div class="team-social">
                <a href="#"><i class="fab fa-instagram"></i></i></a>
            </div>
        </div>
    </div>
<!--SECOND========================================-->
    <div class="team-box">
        <!--Imagesss-->
        <div class="t-b-img">
            <!-- <img src="{% static 'assets/heads/aryan.png' %}" alt=""> -->
            <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330859/aryan_rz9xy3.png" alt="">
        </div>
        <!--Text for boxes-->
        <div class="t-b-text">
            <strong>Aryan Sorte</strong>
            <span>Co-Head</span>
            <!--SOcials-->
            <div class="team-social">
                <a href="#"><i class="fab fa-instagram"></i></i></a>
            </div>
        </div>
    </div>
<!--Third========================================-->
    <div class="team-box">
        <!--Imagesss-->
        <div class="t-b-img">
            <!-- <img src="{% static 'assets/heads/unnati.png' %}" alt=""> -->
            <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330883/unnati_oa5fqk.png" alt="">
        </div>
        <!--Text for boxes-->
        <div class="t-b-text">
            <strong>Unnati Pohankar</strong>
            <span>Head</span>
            <!--SOcials-->
            <div class="team-social">
                <a href="#"><i class="fab fa-instagram"></i></i></a>
            </div>
        </section>
<!--==============================twelve section PR and sponsorship teeam=================================-->
<div id="nav">
    <center><h2>
        PR & Sponsorship
    </h2></center>
</div>
<section id="team">
    <div class="team-box">
        <div class="t-b-img">
            <!-- <img src="{% static 'assets/heads/atharva kanase.png' %}" alt=""> -->
            <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330583/atharva_kanase_oo2hua.png" alt="">
        </div>
        <div class="t-b-text">
            <strong>Atharva Kanase</strong>
            <span>Head</span>
            <div class="team-social">
                <a href="#"><i class="fab fa-instagram"></i></i></a>
            </div>
        </div>
    </div>
<!--SECOND========================================-->
    <div class="team-box">
        <!--Imagesss-->
        <div class="t-b-img">
            <!-- <img src="{% static 'assets/heads/ratnakar pisal.png' %}" alt=""> -->
            <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330584/ratnakar_pisal_rhu1jb.png" alt="">
        </div>
        <!--Text for boxes-->
        <div class="t-b-text">
            <strong>Ratnakar Pisal</strong>
            <span>Head</span>
            <!--SOcials-->
            <div class="team-social">
                <a href="#"><i class="fab fa-instagram"></i></i></a>
            </div>
        </div>
    </div>
<!--Third========================================-->
    <div class="team-box">
        <!--Imagesss-->
        <div class="t-b-img">
            <!-- <img src="{% static 'assets/heads/aditya dandavate.png' %}" alt=""> -->
            <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330582/aditya_dandavate_evhnm2.png" alt="">
        </div>
        <!--Text for boxes-->
        <div class="t-b-text">
            <strong>Aditya Dandavate</strong>
            <span>Co-Head</span>
            <!--SOcials-->
            <div class="team-social">
                <a href="#"><i class="fab fa-instagram"></i></i></a>
            </div>
        </section>
        <div onclick="scrollToTop()" class="scrollTop"><i class="fa-solid fa-arrow-up"></i></div>

<script>
    ScrollReveal({ 
        distance: '60px',
        duration: 2500,
        delay: 400
});

ScrollReveal().reveal('h2', { delay: 100, origin: 'top' });
ScrollReveal().reveal('#team', { delay: 500, origin: 'bottom' });

</script>

<script>
    function scrollToTop(){
        window.scrollTo(0, 0);
    }
</script>




{% endblock %}