{% extends 'base.html' %}

{% block content %}
{% load static %}


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<script src="https://unpkg.com/scrollreveal"></script>

<link rel='stylesheet' href="{% static 'css/heads.css' %}" >
    <a id="back-to-home" href="{% url "cultural" %}"> Back</a>


<div id="nav">
        <img src="images/ojusreal.png" alt="">
        <center><h2>
            Event Management
        </h2></center>
    </div>
<!--Team section-->
<!--==============================FIrst section event management team========================================-->
<section id="team">
    <div class="team-box">
        <div class="t-b-img">
            <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330584/heads/krish_vrpnwb.png" alt="">
        </div>
        <div class="t-b-text">
            <strong>Krish Jaiswal</strong>
            <span>Head</span>
            
        </div>
    </div>
<!--SECOND========================================-->
    <div class="team-box">
        <!--Imagesss-->
        <div class="t-b-img">
            <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330584/heads/miheet_shah_z22bpc.png" alt="">
        </div>
        <!--Text for boxes-->
        <div class="t-b-text">
            <strong>Miheet Shah</strong>
            <span>Head</span>
            <!--SOcials-->
            
        </div>
    </div>
<!--Third========================================-->
    <div class="team-box">
        <!--Imagesss-->
        <div class="t-b-img">
            <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330583/heads/dravesh_t2wcfu.png" alt="">
        </div>
        <!--Text for boxes-->
        <div class="t-b-text">
            <strong>Dravesh Jain</strong>
            <span>Co-Head</span>
            <!--SOcials-->
            </div>
            </div>
</section>
<!--==============================Second section creativity teeam=================================-->
<div id="nav">
<center><h2>
    Creativity
</h2></center>
</div>
<section id="team">
<div class="team-box">
    <div class="t-b-img">
        <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330876/heads/ratan_klsay7.png" alt="">
    </div>
    <div class="t-b-text">
        <strong>Ratan Dhere</strong>
        <span>Head</span>
        
    </div>
</div>
<!--SECOND========================================-->
<div class="team-box">
    <!--Imagesss-->
    <div class="t-b-img">
        <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330879/heads/shweta_r36ebv.png" alt="">
    </div>
    <!--Text for boxes-->
    <div class="t-b-text">
        <strong>Shweta Bhutada</strong>
        <span>Head</span>
        <!--SOcials-->
        
    </div>
</div>
<!--Third========================================-->
<div class="team-box">
    <!--Imagesss-->
    <div class="t-b-img">
        <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330866/heads/deep_e4w2o5.png" alt="">
    </div>
    <!--Text for boxes-->
    <div class="t-b-text">
        <strong>Deep Kotwal</strong>
        <span>Co-Head</span>
        <!--SOcials-->
        </div>
    </div>
</section>
<!--==============================third section Design teeam=================================-->
<div id="nav">
<center><h2>
    Design
</h2></center>
</div>
<section id="team">
<div class="team-box">
    <div class="t-b-img">
        <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330582/heads/aamir_baig_ng4ajg.png" alt="">
    </div>
    <div class="t-b-text">
        <strong>Aamir Baig</strong>
        <span>Head</span>
        
    </div>
</div>
<!--SECOND========================================-->
<div class="team-box">
    <!--Imagesss-->
    <div class="t-b-img">
        <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330583/heads/dhruv_trivedi_dd5bfa.png" alt="">
    </div>
    <!--Text for boxes-->
    <div class="t-b-text">
        <strong>Dhruv Trivedi</strong>
        <span>Head</span>
        <!--SOcials-->
        
    </div>
</div>
<!--Third========================================-->
<div class="team-box">
    <!--Imagesss-->
    <div class="t-b-img">
        <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330585/heads/siddhant_gaikwad_rixrk3.png" alt="">
    </div>
    <!--Text for boxes-->
    <div class="t-b-text">
        <strong>Siddhant Gaikwad</strong>
        <span>Co-Head</span>
        <!--SOcials-->
        </div>
        </div>
        
</section>

<!--==============================fourth section Photography teeam=================================-->
<div id="nav">
<center><h2>
    Photography
</h2></center>
</div>
<section id="team">
<div class="team-box">
    <div class="t-b-img">
        <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330883/heads/pritam_ykv1k6.png" alt="">
    </div>
    <div class="t-b-text">
        <strong>Pritam Patil</strong>
        <span>Head</span>
        
    </div>
</div>
<!--SECOND========================================-->
<div class="team-box">
    <!--Imagesss-->
    <div class="t-b-img">
        <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330860/heads/anurag_z35coz.png" alt="">
    </div>
    <!--Text for boxes-->
    <div class="t-b-text">
        <strong>Atharva Kawale</strong>
        <span>Co-Head</span>
        <!--SOcials-->
        
    </div>
</div>
</section>
<!--==============================fifth section Publicity  teeam=================================-->
<div id="nav">
<center><h2>
    Publicity
</h2></center>
</div>
<section id="team">
<div class="team-box">
    <div class="t-b-img">
        <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330585/heads/soham_narsinge_htsdmr.png" alt="">
    </div>
    <div class="t-b-text">
        <strong>Soham Narsinge</strong>
        <span>Head</span>
        
    </div>
</div>
<!--SECOND========================================-->
<div class="team-box">
    <!--Imagesss-->
    <div class="t-b-img">
        <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330585/heads/yoshita_kumbhar_a7ldmr.png" alt="">
    </div>
    <!--Text for boxes-->
    <div class="t-b-text">
        <strong>Yoshita Kumbhar</strong>
        <span>Head</span>
        <!--SOcials-->
        
    </div>
</div>
<!--Third========================================-->
<div class="team-box">
    <!--Imagesss-->
    <div class="t-b-img">
        <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330584/heads/ritesh_singh_j9lyd4.png" alt="">
    </div>
    <!--Text for boxes-->
    <div class="t-b-text">
        <strong>Ritesh Singh</strong>
        <span>Co-Head</span>
        <!--SOcials-->
        </div>
        </div>
        
</section>
<!--==============================sixth section Cinematography  teeam=================================-->
<div id="nav">
<center><h2>
    Cinematography
</h2></center>
</div>
<section id="team">
<div class="team-box">
    <div class="t-b-img">
        <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330584/heads/rishi_mane_xnwavr.png" alt="">
    </div>
    <div class="t-b-text">
        <strong>Rishi Mane</strong>
        <span>Head</span>
        
    </div>
</div>
<!--SECOND========================================-->
<div class="team-box">
    <!--Imagesss-->
    <div class="t-b-img">
        <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330583/heads/aniket_deogharkar_ybzckc.png" alt="">
    </div>
    <!--Text for boxes-->
    <div class="t-b-text">
        <strong>Aniket Deogharkar</strong>
        <span>Head</span>
        <!--SOcials-->
        
    </div>
</div>
</section>
<!--==============================seventh section Hospitality teeam=================================-->
<div id="nav">
<center><h2>
    Hospitality
</h2></center>
</div>
<section id="team">
<div class="team-box">
    <div class="t-b-img">
        <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330582/heads/ajinkya_bhalerao_y7ygok.png" alt="">
    </div>
    <div class="t-b-text">
        <strong>Ajinkya Bhalerao</strong>
        <span>Head</span>
        
    </div>
</div>
<!--SECOND========================================-->
<div class="team-box">
    <!--Imagesss-->
    <div class="t-b-img">
        <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330585/heads/yukti_ogare_ae8vzq.png" alt="">
    </div>
    <!--Text for boxes-->
    <div class="t-b-text">
        <strong>Yukti Ogare</strong>
        <span>Head</span>
        <!--SOcials-->
        
    </div>
</div>
<!--Third========================================-->
<div class="team-box">
    <!--Imagesss-->
    <div class="t-b-img">
        <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330583/heads/abhay_thakare_j6wiwt.png" alt="">
    </div>
    <!--Text for boxes-->
    <div class="t-b-text">
        <strong>Abhay Thakare</strong>
        <span>Head</span>
        <!--SOcials-->
        </div>
        </div>
        
</section>
<!--==============================eight section security teeam=================================-->
<div id="nav">
<center><h2>
    Security
</h2></center>
</div>
<section id="team">
<div class="team-box">
    <div class="t-b-img">
        <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330582/heads/aarish_sayyed_b2iq9r.png" alt="">
    </div>
    <div class="t-b-text">
        <strong>Aarish Sayyed</strong>
        <span>Head</span>
        
    </div>
</div>
<!--SECOND========================================-->
<div class="team-box">
    <!--Imagesss-->
    <div class="t-b-img">
        <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330585/heads/vedant_pawar_lstiwn.png" alt="">
    </div>
    <!--Text for boxes-->
    <div class="t-b-text">
        <strong>Vedant Pawar</strong>
        <span>Head</span>
        <!--SOcials-->
        
    </div>
</div>
<!--Third========================================-->
<div class="team-box">
    <!--Imagesss-->
    <div class="t-b-img">
        <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330582/heads/abhishek_bagade_deiilw.png" alt="">
    </div>
    <!--Text for boxes-->
    <div class="t-b-text">
        <strong>Abhishek Bagade</strong>
        <span>Co-Head</span>
        <!--SOcials-->
        </div>
        </div>
        
</section>
<!--==============================ninth section logistics teeam=================================-->
<div id="nav">
<center><h2>
    Logistics
</h2></center>
</div>
<section id="team">
<div class="team-box">
    <div class="t-b-img">
        <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330585/heads/vikram_shetty_pgmyq2.png" alt="">
    </div>
    <div class="t-b-text">
        <strong>Vikram Shetty</strong>
        <span>Head</span>
        
    </div>
</div>
<!--SECOND========================================-->
<div class="team-box">
    <!--Imagesss-->
    <div class="t-b-img">
        <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330584/heads/prem_manera_grw3d9.png" alt="">
    </div>
    <!--Text for boxes-->
    <div class="t-b-text">
        <strong>Prem Manera</strong>
        <span>Head</span>
        <!--SOcials-->
        
    </div>
</div>
</section>
<section id="team">
<div class="team-box">
    <div class="t-b-img">
        <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330584/heads/shreyash_gharge_phtat2.png" alt="">
    </div>
    <div class="t-b-text">
        <strong>Shreyash Gharge</strong>
        <span>Co-Head</span>
        
    </div>
</div>
<!--SECOND========================================-->
<div class="team-box">
    <!--Imagesss-->
    <div class="t-b-img">
        <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330584/heads/harshit_jain_yrfm1m.png" alt="">
    </div>
    <!--Text for boxes-->
    <div class="t-b-text">
        <strong>Harshit Jain</strong>
        <span>Co-Head</span>
        <!--SOcials-->
        
    </div>
</div>
</section>
<!--==============================tenth section logistics teeam=================================-->
<div id="nav">
<center><h2>
    Literature
</h2></center>
</div>
<section id="team">
<div class="team-box">
    <div class="t-b-img">
        <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330582/heads/aaryaman_kattali_omp5jf.png" alt="">
    </div>
    <div class="t-b-text">
        <strong>Aaryaman Kattali</strong>
        <span>Head</span>
        
    </div>
</div>
<!--SECOND========================================-->
<div class="team-box">
    <!--Imagesss-->
    <div class="t-b-img">
        <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330583/heads/anshuta_jagtap_gaw9td.png" alt="">
    </div>
    <!--Text for boxes-->
    <div class="t-b-text">
        <strong>Anshuta Jagtap</strong>
        <span>Co-Head</span>
        <!--SOcials-->
        
    </div>
</div>
</section>
<!--==============================eleventh section hosting and anchoring teeam=================================-->

<div id="nav">
<center><h2>
    Hosting & Anchoring
</h2></center>
</div>
<section id="team">
<div class="team-box">
    <div class="t-b-img">
        <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330882/heads/sakshi_qthj71.png" alt="">
    </div>
    <div class="t-b-text">
        <strong>Sakshi Kunta</strong>
        <span>Head</span>
        
    </div>
</div>
<!--SECOND========================================-->
<div class="team-box">
    <!--Imagesss-->
    <div class="t-b-img">
        <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330859/heads/aryan_rz9xy3.png" alt="">
    </div>
    <!--Text for boxes-->
    <div class="t-b-text">
        <strong>Aryan Sorte</strong>
        <span>Co-Head</span>
        <!--SOcials-->
        
    </div>
</div>
<!--Third========================================-->
<div class="team-box">
    <!--Imagesss-->
    <div class="t-b-img">
        <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330883/heads/unnati_oa5fqk.png" alt="">
    </div>
    <!--Text for boxes-->
    <div class="t-b-text">
        <strong>Unnati Pohankar</strong>
        <span>Head</span>
        <!--SOcials-->
        
    </section>
<!--==============================twelve section PR and sponsorship teeam=================================-->
<div id="nav">
<center><h2>
    PR & Sponsorship
</h2></center>
</div>
<section id="team">
<div class="team-box">
    <div class="t-b-img">
        <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330583/heads/atharva_kanase_oo2hua.png" alt="">
    </div>
    <div class="t-b-text">
        <strong>Atharva Kanase</strong>
        <span>Head</span>
        
    </div>
</div>
<!--SECOND========================================-->
<div class="team-box">
    <!--Imagesss-->
    <div class="t-b-img">
        <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330584/heads/ratnakar_pisal_rhu1jb.png" alt="">
    </div>
    <!--Text for boxes-->
    <div class="t-b-text">
        <strong>Ratnakar Pisal</strong>
        <span>Head</span>
        <!--SOcials-->
        
    </div>
</div>
<!--Third========================================-->
<div class="team-box">
    <!--Imagesss-->
    <div class="t-b-img">
        <img src="https://res.cloudinary.com/dkx1049fl/image/upload/v1707330582/heads/aditya_dandavate_evhnm2.png" alt="">
    </div>
    <!--Text for boxes-->
    <div class="t-b-text">
        <strong>Aditya Dandavate</strong>
        <span>Co-Head</span>
        <!--SOcials-->
     </div>
    </div>   
    </section>
        <div onclick="scrollToTop()" class="scrollTop"><i class="fa-solid fa-arrow-up"></i></div>

<script>
    ScrollReveal({ 
        distance: '60px',
        duration: 2500,
        delay: 400
});

ScrollReveal().reveal('h2', { delay: 100, origin: 'top' });
ScrollReveal().reveal('#team', { delay: 500, origin: 'bottom' });

</script>

<script>
    function scrollToTop(){
        window.scrollTo(0, 0);
    }
</script>




{% endblock %}