{% extends 'base.html' %}

{% block content %}
{% load static %}

{% if request.user_agent.is_mobile %}

    
    
    <link rel="stylesheet" href="{% static 'css/mobland.css' %}">
    <link rel="prefetch" href="{% static 'assets/paperEffect.webp'%}">



<body>


{% include 'preloader.html' %}

    <section class="mainSection">
                <svg class="svgClouds" viewBox="0 0 1200 800" xmlns="http://www.w3.org/2000/svg">
    
                    <image class="cloud2" xlink:href="https://assets.codepen.io/721952/cloud1.png" width="1200" height="1000" />
                    
                    <image class="cloud4" xlink:href="https://assets.codepen.io/721952/cloud2.png" width="1200" height="1000" />
                    <image class="cloud3" xlink:href="https://assets.codepen.io/721952/cloud3.png" width="1200" height="1000" />
                </svg>
                <dotlottie-player src="https://lottie.host/bc863bbb-f006-4696-8b62-59ce66b2fab2/FGIctQwJmf.json" background="transparent" speed="1" style="width: 450px; height: 400px" direction="1" playMode="normal" loop autoplay></dotlottie-player>
                    <!-- <article id="wrap">
                        <article id="lightings">
                            <section id="one">
                                <section id="two">
                                    <section id="three">
                                        <section id="four">
                                            <section id="five">
                                                
                                            </section>
                                        </section>
                                    </section>
                                </section>
                            </section>
                        </article>
                    </article> -->
        <div class="logos">
            <a href="index.html"><h1 class="ROE" id="roeText">OjuS '24</h1></a>
            <button class="hamburger" onclick="toggleMenu()">
                <h5 class="menu" id="menuBtn">Menu</h5>
            </button>
            <div class="mobile-nav">
                <button type="button" class="times" onclick="toggleMenu()"><h3 class="menu">Close</h3></button>
                <div class="columnMenu">
                    <ul class="navigation">
                        <li class="navLinks"><a href="{% url 'cultural' %}">Home</a></li>
                        <li class="navLinks"><a href="#">Events</a></li>
                        <li class="navLinks"><a href="{% url 'council' %}">Council</a></li>
                        <li class="navLinks"><a href="{% url 'heads' %}">Heads</a></li>
                        <li class="navLinks"><a class="ghanekar" href="{% url 'signup' %}"><span>Ghanekar</span></a></li>
                    </ul>
                    <h6 class="normalText">Radiance of Euphoria</h6>
                </div>
            </div>
        </div>
        <div class="container">
            <img src="{% static '/assets/ojus_chronicles_zeta.png' %}" alt="">
            <h1 class="themeText">ChroniclEs <span>of</span><br> <span>the</span> Ages</h1>
            <h1 class="themeROE">Radiance Of Euphoria</h1>
            <div class="event-timer">
                <div>
                    <p id="days">00</p>
                    <span>Days</span>
                </div>
                <div class="line">
                    <p id="hours">00</p>
                    <span>Hours</span>
                </div>
                <div class="line">
                    <p id="minutes">00</p>
                    <span>Minutes</span>
                </div>
                <div>
                    <p id="seconds">00</p>
                    <span>Seconds</span>
                </div>
                </div>
            <!-- <button class="btn">Be Radiant</button> -->
            <!-- <script src="https://cdn.logwork.com/widget/countdown.js"></script>
<a href="https://logwork.com/countdown-4yh8" class="countdown-timer" data-timezone="Asia/Kolkata" data-date="2024-02-26 14:24">countdown-timer</a> -->
        </div>
    </section>
    <section class="thirdSection">
        <!-- <div class="scrolling-container" id="scrollingContainer">
        </div> -->
    </section>
    <section class="retroSection">
        
            <div class="retroText">
                <div class="cloudContainer">
                </div>
                <div class="randomContainer">
                    <div class="textsContainer">
                        <div class="randomContainer2">
                            <h1 class="retroHeading"><span>About</span> <span>Us</span></h1>
                            <!-- <h4>Annual Cultural Fest, managed by students <span>Of</span> APSIT</h4> -->
                        </div>
                        <img class="retroSunflower" src="{% static 'assets/1.jpg' %}" alt="">
                        <p class="aboutUsTexts">
                            <span>OJUS - Radiance of Euphoria</span> is an intercollegiate festival hosted annually by the students of APSIT. It's an amalgamation of Sports, Literature & Cultural festival comprising of intellectual as well as fun & creative events with a variety of games and entertainment shows. It's not just a festival of various colorful events but a platform where students freely express themselves and our hidden gems come out with their talents
                        </p>
                        <div class="randomContainer3">
                            
                            <!-- <div class="randomContainer4">
                                <img class="retroSunflower" src="{% static 'assets/retroSunflower.avif'%}" alt="">
                            </div>
                            <img class="balle" src="{% static 'assets/test2.png'%}" alt="">
                        </div> -->
                    </div>
        </div>
    </div>
    </section>
    <section class="thirdSection preGallerySection">
        <div class="preGalleryContainer">
            <div class="preGalleryText">The Radiance of Euphoria Illuminates Our Journey to Joyful Bliss</div>
            <div class="inclined-plane left-to-right">
                <div class="horizontal-plane">
                    <div class="ball"></div>
                </div>
            </div>
            <div class="preGalleryText2">and the legacy would continue</div>
            <div class="inclined-plane right-to-left">
                <div class="horizontal-plane">
                    <div class="ball" id="secondBall"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="galleryContainer">
        <video class="backgroundVideo" autoplay loop muted playsinline>
            <source src="https://res.cloudinary.com/dsduxocoj/video/upload/v1705950371/backgroundGalleryVideo_gbtn5k.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    
        <div class="galleryHeader">
            <h1>HalLway </h1>
            
        </div>
        
        <div class="gallery">
            <img class="retroSunflower picture1" src="{% static 'assets/gallery.jpg'%}" alt="">
            <img src="{% static 'assets/gallery1.jpg'%}" alt="" class="retroSunflower picture2">
            <img src="{% static 'assets/gallery2.jpg'%}" alt="" class="retroSunflower picture3">
            <img src="{% static 'assets/gallery3.jpg'%}" alt="" class="retroSunflower picture4">
        </div>
    </section>
    <section class="madeWithLove">
        <h5>made with ❤️ by <a href="#">Ojus Webdev</a></h5>
    </section>

  
    <script src="https://unpkg.com/gsap@3.9.0/dist/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'js/mobland.js'%}"></script>
   

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</body>



    



{% else %}


    <link rel="stylesheet" href="{% static "css/styles2.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-wHT6ZyF3eFG65WVRF1+tXw4zg/U2t4tZ6bQp3pTecQp0+L2Q1uGIefTDIzW79vMC6NcMk6H9RXYL/2a9NlOgGA==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>




<body>

{% include 'preloader.html' %}

  
    <div class="stars"></div>
        <div class="twinkling"></div>
    <section id="home-section">
        
        <div class="clouds"></div>
        <div class="logos">
            <a href="{% url 'index' %}"><h1 class="ROE" id="roeText">ojus '24</h1></a>
            <div class="menuBar">
                <ul class="menuList">
                    <li><a href="{% url 'council' %}">Council</a></li>
                    <li><a href="{% url "heads" %}">Heads</a></li>

                    <li><a href="{% url 'events' %}">Events</a></li>
                    <li><a class="ghanekar" href="{% url "signup" %}"><span>Signup</span></a></li>
                </ul>
            </div>
        </div>
        <div class="culturals-logo">
            <img class="cultlogo" src="https://res.cloudinary.com/ds2uw5gcw/image/upload/v1707329264/ojus_chronicles__ln97ak.png" alt="culturals-logo">
            <div class="columnContainer">
                <div class="themeText"><h1>ChroniclEs <span>of</span> <span>the</span> Ages</h1></div>
        
        <div class="event-timer">
            <div>
                <p id="days">00</p>
                <span>Days</span>
            </div>
            <div class="line">
                <p id="hours">00</p>
                <span>Hours</span>
            </div>
            <div class="line">
                <p id="minutes">00</p>
                <span>Minutes</span>
            </div>
            <div>
                <p id="seconds">00</p>
                <span>Seconds</span>
            </div>
            </div>
            </div>
        </div>
        <div class="socials">
            <a href="https://www.instagram.com/ojus_apsit/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://twitter.com/ojus_apsit" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.linkedin.com/company/ojus-apsit/" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.youtube.com/@ojus-radianceofeuphoria5292" target="_blank"><i class="fab fa-youtube"></i></a>
        </div>
        <div class="about" id="aboutDiv" onclick="toggleAboutOjus()">
            <h3>About</h3>
        </div>
    
        <div id="aboutOjus">
            <div id="popUp">
                <div class="upperPopup">
                    <h3>About Ojus</h3>
                    <div id="cancel" onclick="hideAboutOjus()">
                        <h4 style="color: red">X</h4>
                    </div>
                </div>
                <div class="lowerPopup">
                    OJUS - Radiance of Euphoria is an intercollegiate festival hosted annually by the students of APSIT. It's an amalgamation of Sports, Literature & Cultural festival comprising of intellectual as well as fun & creative events with a variety of games and entertainment shows. It's not just a festival of various colorful events but a platform where students freely express themselves and our hidden gems come out with their talents.
                </div>
            </div>
        </div>
    </section>
    <script>
        // document.addEventListener('contextmenu', event => event.preventDefault());
        document.addEventListener('contextmenu', function (e) {
            if (e.target.tagName === 'IMG') {
                e.preventDefault();
            }
        });
        function toggleAboutOjus() {
            var aboutOjus = document.getElementById("aboutOjus");
            var isVisible = aboutOjus.style.opacity === "1";

            if (isVisible) {
                aboutOjus.style.opacity = "0";
                setTimeout(function () {
                    aboutOjus.style.display = "none";
                }, 500);
            } else {
                aboutOjus.style.display = "block";
                setTimeout(function () {
                    aboutOjus.style.opacity = "1";
                }, 0);
            }
        }

        function hideAboutOjus() {
            var aboutOjus = document.getElementById("aboutOjus");
            aboutOjus.style.opacity = "0";
            setTimeout(function () {
                aboutOjus.style.display = "none";
            }, 500);
        }
    </script>

    <script src="{% static "js/landing.js" %}"></script>
</body>

{% endif %}







    


{% endblock %}