{% block content %}
{% load static %}
<style>
    /* body{
        padding: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .container{
        min-height: 50vh;
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .container h1{
        font-family: 'Times New Roman', Times, serif;
        font-size: 3rem;
        text-wrap: nowrap;
        text-align: center;
    }

    #my-qr-reader{
        width: 360px;
    }

    .section{
        margin-top: 20vh;
        width: 30%;
        align-items: center;
        transform: scale(2);
    } */
    body {
    margin: 1vh;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-x: hidden;
}

.container {
    top: 0;
    text-align: center;
    max-width: 100%;
    height: 100vh;
    h1{
        font-family: 'Times New Roman', Times, serif;
        font-size: 60px;
       margin-bottom: 15vh; 
       text-wrap:wrap;
    }
}

.section {
    margin-top:30vh ;
    transform: scale(2.5);
    max-width: 100%;
    /* padding: 4% 2%; */
}

img{
    margin: 2vh;
    width: 200px;
    aspect-ratio:  1/1;
}

span{
    font-size: 1.3em;
}

button{
    background-color: #ff7b72;
    border: none;
    color: white;
    padding: 8px 16px;
    font-weight: bold;
    border-radius: 15px;
}

#html5-qrcode-anchor-scan-type-change{
    display: none !important;
}

</style>
<body>
<div class="container">
    <h1>GHANEKAR PASS <br> VERIFICATION </h1>
    <div class="section">
        <div id="my-qr-reader"></div>
        <form id="qrForm" method="POST" action="{% url 'scan' %}">
            {% csrf_token %}
            <input type="hidden" id="qr_data" name="decodeResult" value="">
            <button type="submit" style="display: none;"></button>
        </form>
    </div>
</div>
<script src="https://unpkg.com/html5-qrcode"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    function domReady(fn) {
        if (
            document.readyState === "complete" ||
            document.readyState === "interactive"
        ) {
            setTimeout(fn, 1000);
        } else {
            document.addEventListener("DOMContentLoaded", fn);
        }
    }

    domReady(function () {

        // If found your qr code
        function onScanSuccess(decodeText, decodeResult) {
           

            // Fill the hidden input with the QR data
            $('#qr_data').val(decodeText);

            // Submit the form
            document.getElementById('qrForm').submit();
			
        }

		    // Display messages in alert window
    function displayMessages() {
        {% for message in messages %}
            alert("{{ message.tags }}: {{ message }}");
        {% endfor %}
    }

    // Call the displayMessages function
    domReady(displayMessages);

        let htmlscanner = new Html5QrcodeScanner(
            "my-qr-reader",
            { fps: 10, qrbos: 250 }
        );
        htmlscanner.render(onScanSuccess);
    });
</script>
</body>
{% endblock %}
